/* Reset básico */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #080808;
    color: #ee0303;
}
/*img {
    width: 100%;
    height: 300px; /* A altura será determinada pela imagem */ alterar

    form{
        width: 300px;
        margin: 200px auto;
        text-align: center;
        display: block;
    }
input{
    
}

header {   
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    color: #FFFF00;
    text-align: center;
}

form{
    text-align: center;
}


footer { /* efeito do botao*/
    margin-top: 30px;
    font-size: 0.9rem;
    color: #777;
    text-align: center;
}
